
# Azure Functions
# Build output
# Dependencies
# Environment variables
# IDE
# Logs
# OS
*.log
*.tsbuildinfo
.DS_Store
.env
.env.*.local
.env.local
.idea/
.output/
.vscode/
Thumbs.db
backend/.deploy/
backend/backend-deploy.zip
dist/
frontend/frontend-deploy.zip
local.settings.json
node_modules/
